<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='includes/visjs/js/vis-network.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/objectProperties.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">


<script>
    var CSRF = "{{CSRF}}"
</script>

<html>
    <head>
        
    </head>
    <body class="theme-panelContainer">
        <input type="text" id="timespan" class="inputFullWidth theme-panelTextbox">
        <input type="text" id="fromAsset" class="inputFullWidth theme-panelTextbox">
        <div class="flowchart theme-content" id="map"></div>
    </body>
</html>

<script>
    function postSearch() {
        $.ajax({url:"/plugin/asset/relationship/"+ $('#fromAsset').val() +"/"+$('#timespan').val()+"/", type:"GET", success: function ( result ) {
                network(result["results"],"map")
            }
        });
    }

    $('#timespan').keydown(function (event) {
        let keyPressed = event.keyCode || event.which;
        if (keyPressed === 13) {
            postSearch()
        }
    });

    $('#fromAsset').keydown(function (event) {
        let keyPressed = event.keyCode || event.which;
        if (keyPressed === 13) {
            postSearch()
        }
    });
</script>

<script>
function network(data,HTMLElementID) {
        var network = null;
        var mapping = {};
        var nodes = [];
        var edges = [];
        var edgeMapping = {};
        var finalNodes = []
        for (d in data) {
            d = data[d];
            var b = null;
            var a = null;
            var color = "#4090c9";

            if (d[0] == $('#fromAsset').val() || d[1] == $('#fromAsset').val() ) {
                color = "#a61919";
	        }

            if (!mapping.hasOwnProperty(d[0])) {
                id = nodes.length;
                nodes.push({ id: id, label: d[0], value: 1, color : color });
                mapping[d[0]] = { id :  id };
            }
            a = mapping[d[0]]

            if (!mapping.hasOwnProperty(d[1])) {
                id = nodes.length;
                nodes.push({ id: id, label: d[1], value: 1, color : color });
                mapping[d[1]] = { id :  id };
            }
            b = mapping[d[1]]


            if (a["id"] != b["id"]) {
                var key = a["id"]+"->"+b["id"];
                var key2 = b["id"]+"->"+a["id"];
                if ((!edgeMapping.hasOwnProperty(key)) && (!edgeMapping.hasOwnProperty(key2))) {
                    edgeMapping[key] = 1;
                    edgeMapping[key2] = 1;
                    edges.push({ 
                        from: a["id"], 
                        to: b["id"]
                    });
                }
            }
        }
        
        var container = document.getElementById(HTMLElementID);
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
     physics: {
      barnesHut: {gravitationalConstant: -80000, springConstant: 0.001, springLength: 200},      
      timestep: 0.2,
      stabilization : {
          iterations : 1000
      }
    },    interaction: {
      tooltipDelay: 200,
      hideEdgesOnDrag: true,
    },                       

    nodes: {
      shape: "dot",
      scaling: {
        min: 25,
        max: 25,
      },
      font: {
        size: 30,
        face: "Tahoma",
        color: "#bfbfbf"
      },
    },
    edges: {
      width: 0.15,
      color: { inherit: "from" },
      smooth: {
        type: "continuous",
      },
    }
      };
        network = new vis.Network(container, data, options);
    }
</script>
